<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.strikeprotocols.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.lastpass.lpandroid" />
        <package android:name="com.agilebits.onepassword" />
    </queries>

    <application
        android:name=".StrikeApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.StrikeMobile"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="s">
<!--    The [tools:targetApi="s"] is used to silence
        a warning for using the [android:dataExtractionRules=""]
        when the minSDK is lower than 31    -->

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.StrikeMobile"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id"/>

    </application>

</manifest>